<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>YesHRM.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>39</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>02E1AAEB280CEA5F6FA0DEB10E89B15BDAD598BC</string>
				<key>dateExpires</key>
				<string>26/01/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02E1AAEB280CEA5F6FA0DEB10E89B15BDAD598BC</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XHPTCHV6Z8</string>
						<key>name</key>
						<string>Expentor Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02E1AAEB280CEA5F6FA0DEB10E89B15BDAD598BC</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XHPTCHV6Z8</string>
						<key>name</key>
						<string>Expentor Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02E1AAEB280CEA5F6FA0DEB10E89B15BDAD598BC</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XHPTCHV6Z8</string>
						<key>name</key>
						<string>Expentor Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02E1AAEB280CEA5F6FA0DEB10E89B15BDAD598BC</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XHPTCHV6Z8</string>
						<key>name</key>
						<string>Expentor Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02E1AAEB280CEA5F6FA0DEB10E89B15BDAD598BC</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XHPTCHV6Z8</string>
						<key>name</key>
						<string>Expentor Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02E1AAEB280CEA5F6FA0DEB10E89B15BDAD598BC</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XHPTCHV6Z8</string>
						<key>name</key>
						<string>Expentor Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02E1AAEB280CEA5F6FA0DEB10E89B15BDAD598BC</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XHPTCHV6Z8</string>
						<key>name</key>
						<string>Expentor Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02E1AAEB280CEA5F6FA0DEB10E89B15BDAD598BC</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XHPTCHV6Z8</string>
						<key>name</key>
						<string>Expentor Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>7.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02E1AAEB280CEA5F6FA0DEB10E89B15BDAD598BC</string>
						<key>dateExpires</key>
						<string>26/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XHPTCHV6Z8</string>
						<key>name</key>
						<string>Expentor Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XHPTCHV6Z8.com.expentor.yeshrm</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XHPTCHV6Z8</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>YesHRM.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f4ceed39-2c63-4b1d-be95-b9b2a9ea124c</string>
				<key>dateExpires</key>
				<string>26/01/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.expentor.yeshrm</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XHPTCHV6Z8</string>
				<key>name</key>
				<string>Expentor Inc</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2.04</string>
		</dict>
	</array>
</dict>
</plist>
